.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #f4f4f4;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
}

.login-btn {
  width: 100%;
  margin-top: 10px;
}

.error-text {
  color: red;
  margin-top: 10px;
}

.login-title {
    color: #000000
}

.login-btn-wrapper {
  width: 100%;
  margin-top: 10px;
}
