/* src/components/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e3a8a; /* azul */
  color: white;
  width: 100%;
  height: 50px;
}

.navbar-logo a {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 0 0 10px
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar-links li a:hover {
  text-decoration: underline;
}

.logout-btn {
  background-color: #ef4444; /* rojo */
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  margin-right: 10px;
}

.logout-btn:hover {
  background-color: #b91c1c;
}
